TGX_FILES/Films/*
TGX_FILES/Extras/*
TGX_FILES/extract/*
TGX_FILES/Logs/*
TGX_FILES/Maps/Testing shit/*
TGX_FILES/SAI/*
TGX_FILES/Campaign/*
TGX_FILES/Shaders/*

TGX_FILES/*.exe
TGX_FILES/*.tgw
TGX_FILES/*.dll
TGX_FILES/*.conf
TGX_FILES/*.cfg

TGX_FILES/autopatch.ini
TGX_FILES/ddraw.ini
TGX_FILES/readme.txt
TGX_FILES/error.txt
TGX_FILES/LicenseAgreement.txt
TGX_FILES/Uninstall Kohan Ahriman's Gift.lnk
TGX_FILES/version.txt
TGX_FILES/Data/MULTIMEDIA.INI

# For excluding local changelog notes
# Not a game file
*changelog.log
